<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<% @posts.each do |post| %>
  <div class="contents row">
  <div class="post">  
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
    <div class="post-stamp-image">
      <strong><%= link_to image_tag(post.stamp.image ), "/posts/#{post.stamp_id}" %></strong>
      <div class="more">
        <ul class="more_list">
         <li>
          <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
         </li>
        </ul>
      </div>
    </div>
    <span class="name">
        <a href="">
          <span>投稿者</span><%= post.user.nickname %>
        </a>
      </span>
    </div>
  </div>
<% end %>
</div>